body {
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}

header {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
}

a {
    font-size: 15px;
    text-decoration: none;
}

section {
    background-color: white;
    margin: 75px 200px 0px 200px;
    
}
h1 {
    text-align: center;
}

#article-list {
    margin: 10px;
    padding: 5px;

}

article{
    border-bottom: solid 1px;
}

footer {
    position: static;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    padding: 2px;
}

h5 {
    text-align: center;
    color: white;
}